# Crontab
# --------------------------------------------------------------------------------
# Bytes Unlimited Crontab for Backups
# (c) 2016 Anthony Affee
# https://bytesunlimited.com
# anthony@bytesunlimited.com
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.


# A simple Crontab for backups.
#
# The crontab for backup scripts, upload them offsite and
# clean up old backups.
#
# --------------------------------------------------------------------------------

# Backup of WordPress Directory for Bytes Unlimited - Daily
0 1 * * * /bin/bash /backup/backup-scripts/bytes-wp-backup.sh

# MySQL Dump and Backup of Bytes Unlimited Database
0 2 * * * /bin/bash /backup/backup-scripts/bytes-sql-backup.sh

# Clean Up Backups to Preserve Space
0 2 * * * find /backup/bytes-unlimited-wp/ -type d -mtime +2 -exec rm -fr {} \;
0 2 * * * find /backup/bytes-unlimited-sql/ -type d -mtime +2 -exec rm -fr {} \;

# Daily Backup Report
0 7 * * * /bin/bash /backup/backup-scripts/search_backups.sh

# Offsite Backups to Mega.nz
0 3 * * * /usr/local/bin/megacopy --config=/backup/backup-scripts/.megarc -l /backup/bytes-unlimited-wp/ -r /Root/pi-wp-bytesunlimited/
0 3 * * * /usr/local/bin/megacopy --config=/backup/backup-scripts/.megarc -l /backup/bytes-unlimited-sql/ -r /Root/pi-sql-bytesunlimited/

# Renew Lets Encrypt Certs
# First checks evert Tues at 12am to see if we are within the 30 days
# from expiration and if so it will renew. Logs any errors.
# Reloads Nginx config in case renewal took place.
0 0 * * 2 bash /root/certbot-auto renew > /var/log/certbot.log
15 0 * * 2 /etc/init.d/nginx reload
